

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    list-style: none;
    justify-content: space-between;
}


li a {
    display: block;
    color: rgba(0, 0, 0, 0.477);
    text-align: center;
    padding: 15px 32px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    color: black;
}

.page{
    color: black;
    margin-top: 15px;
}

.marge{
    margin-top: 15px;
}

.button {
    background-color: black; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .accueil{
    width : 600px;
    height : 400px;
  }
  .mes_coordonnees {
    display: flex;
    flex-direction: row; /* Adjust if you want the image next to the text */
    align-items: flex-start; /* Aligns items at the start of the container */
    margin: auto; /* Adds automatic margin */
    max-width: 600px; /* Adjust based on your content's width */
    width: 100%; /* Makes it responsive */
}
.photo {
    flex-shrink: 0; /* Empêche l'image de rétrécir */
}

.texte_coordonnees {
    display: block; /* Par défaut, mais clarifie l'intention de disposition en bloc */
    text-align: left; /* Alignement du texte à gauche */
}

 


  
  img {
    width : 250px;
    height : 230px;
    padding-left: 50px;
    padding-right: 100px;
    }
    

.content
    {
    
    padding: 30px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    margin: 50px;
    padding-left: 50px;
    transition: transform 0.3s ease; /* Ajoute une transition de transformation de 0.3s pour l'effet en douceur */
}

.content:hover {
    transform: scale(1.05); /* Augmente légèrement la taille de l'élément au survol */
}



.trait {
    height: 2px; /* Définit la hauteur du trait */
    width: 85%; /* Définit la largeur du trait */
    background-color: #D8D1CA; /* Définit la couleur du trait */
    margin: 20px auto; /* Ajoute un peu d'espace au-dessus et en dessous du trait */
}



div .right_{
    float : right;
}

div .left_{
    float : left;
}

.text{
    border-radius: 10px;
    padding: 10px;
  }

h2{
    color: #C0B09D;
    font-size: 32px;
}

p{
    color: rgba(0, 0, 0, 0.589);
}


.parcours-scolaire {
    display: flex;
    justify-content: space-around; /* Répartit équitablement l'espace entre les divs */
    align-items: start; /* Alignement vertical en haut pour les éléments de hauteur différente */
    flex-wrap: wrap; /* Permet aux divs de passer à la ligne sur les écrans plus petits */
}

.parcours-scolaire > div {
    flex-basis: 30%; /* Donne une base pour la taille de chaque div, ajustez selon besoin */
    /* Ajoutez des marges, padding, etc., selon vos préférences */
}

.parcours-scolaire h2, .parcours-scolaire p {
    line-height: normal; /* Ajustez selon vos préférences */
    text-align: center; /* Centre le texte à l'intérieur de chaque div */
}

img {
    max-width: 100%; /* Assure que les images ne dépassent pas leurs conteneurs */
    height: auto; /* Maintient le ratio des images */
}

#left {
    width: 43%;
    margin-right: 70px;
    margin-left: 30px;
    border-radius: 10px;
  }
  #right {
    width: 43%;
    border-radius: 10px;
    
  }

  div .right{
    float : right;
    
}

.competence {
    float: left;
    height: 470px;
    width: 23%;
    padding: 0 10px;
    color: black;
    font-family: 'Montserrat', sans-serif;
  }

.flutter{
    width : 150px;
    height : 230px;
} 

.rond{
    width : 150px;
    height : 150px;
}
  

.projet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.project-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.project-container img {
    width: 100px;
    height: auto;
}

h2 {
    margin: 0;
}
